{% load static %}
{% for p in all_posts %}
<div class="col-sm-12 col-lg-4">
    <!-- product card -->
    <div class="product-item bg-light">
        <div class="card">
            <div class="thumb-content">
<!-- <div class="price">$200</div> -->
                <a href="single.html">
                    <img class="card-img-top img-fluid" src="{% static 'images/products/products-1.jpg' %}" alt="Card image cap">
                </a>
            </div>
    <div class="card-body">
        <h4 class="card-title"><a href="single.html">{{ p.title }}</a></h4>
        <ul class="list-inline product-meta">
            <li class="list-inline-item">
                <a href="{% url 'detail_view' pk=p.id %} "> View </a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fa fa-calendar"></i>{{ p.user }}</a>
            </li>
        </ul>
        <p class="card-text"> {{ p.description }}</p>
        <div class="product-ratings">
            <ul class="list-inline">
                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>
{% endfor %}

