{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section class="ad-post bg-gray py-5">
    <div class="container">
         <fieldset class="border border-gary p-4 mb-5">
            <form  method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Post Your ad start -->
                    <div class="form-group">
                        <div class="col-lg-12">
                            <h3>Create Your Product</h3>
                        </div>
                         <div class="col-lg-12">
                            {{ form.product_name|as_crispy_field }}
                        </div>
                        <div class="col-lg-12">
                            {{ form.category|as_crispy_field }}
                        </div>
                        <div class="col-lg-12">
                            {{ form.usage_status|as_crispy_field }}
                        </div>
                             <div class="col-lg-12">
                            {{ form.image|as_crispy_field }}
                        </div>

                        <div class="col-lg-12">
                            {{ form.brand|as_crispy_field }}
                        </div>
                        <div class="col-lg-12">
                            {{ form.location|as_crispy_field }}
                        </div>
                        <div class="col-lg-12">
                            {{ form.model_type|as_crispy_field }}
                        </div>
                        <div class="col-lg-12">
                            {{ form.description|as_crispy_field }}
                        </div>
                    </div>
                <button type="submit" class="btn btn-primary d-block mt-2">Post Your Ad</button>
            </form>
         </fieldset>
    </div>
</section>
{% endblock %}