{% extends 'home.html' %}
{% load static %}
{% block content %}

<section class="dashboard section">
	<!-- Container Start -->
	<div class="container">
		<!-- Row Start -->
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
				<div class="sidebar">
				</div>
			</div>
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
				<!-- Recently Favorited -->
				<div class="widget dashboard-container my-adslist">
					<h3 class="widget-header">My Ads</h3>
					<table class="table table-responsive product-dashboard-table">
						<thead>
							<tr>
								<th>Image</th>
								<th>Ad Title</th>
								<th class="text-center">Product</th>
								<th class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
						{% for p in my_posts %}
							<tr>
								<td class="product-thumb">
									<img width="80px" height="auto" src="{{p.assigned_product.image.url}}" alt="image description"></td>
								<td class="product-details">
									<h3 class="title">{{ p.title }}</h3>
									<span class="add-id"><strong>Ad ID:</strong> {{ p.id }}</span>
									<span><strong>Posted on: </strong><time>{{p.created_at}}</time> </span>
									<span class="status active"><strong>Status</strong>{{ p.status }}</span>
								</td>
								<td class="product-category"><span class="categories">{{p.assigned_product}}</span></td>
								<td class="action" data-title="Action">
									<div class="">
										<ul class="list-inline justify-content-center">
											<li class="list-inline-item">
												<a data-toggle="tooltip" data-placement="top" title="View" class="view" href="{% url 'product_details' pk=p.assigned_product.id %}">
													<i class="fa fa-eye"></i>
												</a>
											</li>
											<li class="list-inline-item">
												<a data-toggle="tooltip" data-placement="top" title="Delete" class="delete" href="{% url 'post_delete' pk=p.id %}">
													<i class="fa fa-trash"></i>
												</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
						{%endfor %}
						</tbody>
					</table>
				</div>

				<!-- pagination -->
				<div class="pagination justify-content-center">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item active"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<!-- pagination -->

			</div>
		</div>
		<!-- Row End -->
	</div>
	<!-- Container End -->
</section>

{% endblock %}

